        .header
        {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: #727272;
            padding: 18.7px 0;      
            text-align: left;
            padding-left: 75.5px;  
            z-index: 1000;
        }

        .header h1
        {
            color: rgb(255, 255, 255);
            font-family: 'Times New Roman', sans-serif;
            margin: 0;
            font-size: 2.2rem;   
        }

        body
        {
            margin-top: 101px; 
            background: white;
            scroll-padding-top: 253px; 
        }

        .content
        {
            max-width: 1012px;     
            margin: 0 auto;
            margin-right: 886px;     
            padding: 38px;          
            height: 2530px;          
            color: #000000;
            font-size: 20px;        
            font-family: 'Montserrat', sans-serif;
        }
        
        .content h1
        {
           text-align: center;
            color: #000000;
            margin-top: 300px;       
            margin-bottom: 100px;     
            scroll-margin-top: 253px;
            font-size: 3.15rem;  
        }
        .content h2.bienvenidoperro
        {
            text-align: center;
            color: #000000;
            margin-top: 10px;        
            margin-bottom: 800px;     
            scroll-margin-top: 253px;
      
        }

        .content h2
        {
            color: #000000;
            margin-top: 38px;        
            margin-bottom: 25px;    
            scroll-margin-top: 253px;
            font-size: 2.15rem;     
        }

        .content p
        {
            text-align: justify;
            line-height: 1.75;       
            margin-bottom: 25px;     
            font-size: 1.18em;
        }

        .content img
        {
            width: 1012px;        
            height: 506px;          
            object-fit: cover;
            display: block;
            margin: 25px 0px;        
            border-radius: 0px;
            box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.12); 
        }

        .image-container
        {
            padding: 12.6px;       
            background-color: #f5f5f5;
            margin: 25px 0;       
            border-radius: 15.2px;   
            display: inline-block;
        }

        .yo-panel
        {
            position: fixed;
            right: 25px;            
            top: 127px;           
            width: 380px;     
            height: auto;      
            background: #727272;
            padding: 25px;          
            border-radius: 19px;    
            color: rgb(255, 255, 255);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12); 
        }

        /*ayuda me secuestraron duendes alvinos articos*/
        .yo-panel p 
        {
            display: block;
            color: rgb(255, 255, 255);
            text-decoration: none;
            margin: 13px 0;         
            transition: all 0.3s ease;
            font-size: 1.33em;
            line-height: 2;
        }
        .yo-panel h3
        {
            display: block;
            color: rgb(255, 255, 255);
            text-decoration: none;
            margin: 6px;        
            transition: all 0.3s ease;
            font-size: 1.53em;
        }

        .index-panel
        {
            position: fixed;
            right: 25px;           
            top: 443px;              
            width: 380px;    
            height: auto;      
            background: #727272;
            padding: 25px;          
            border-radius: 19px;    
            color: rgb(255, 255, 255);
            box-shadow: 0 5px 10px rgba(0,0,0,0.12); 
        }

        .index-panel a 
        {
            display: block;
            color: rgb(255, 255, 255);
            text-decoration: none;
            margin: 13px 0;         
            transition: all 0.3s ease;
            font-size: 1.33em;
        }
        .index-panel h3
        {
            display: block;
            color: rgb(255, 255, 255);
            text-decoration: none;
            margin: 6px;          
            transition: all 0.3s ease;
            font-size: 1.53em;
        }

        .index-panel a:hover
        {
            transform: translateX(20px); 
            color: #ffe033ee;
        }



        
     
     



        .carousel-wrapper {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
        }
    
        .carousel-track {
            display: flex;
            transition: transform 0.3s ease;
        }
    
        .carousel-track img {
            width: 100%;
            height: relative;
            
            object-fit: cover;
            flex-shrink: 0;
            filter: grayscale(40%);
            border-radius: 10px;
        }
    
    
        .carousel-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            color: rgba(0,0,0,0.15); 
            cursor: pointer;
            padding: 5px;
            transition: 0.2s;
            user-select: none;
        }
    
        .carousel-arrow:hover {
            color: rgba(0,0,0,0.35);
        }
    
        .left-arrow {
            left: 10px;
        }
    
        .right-arrow {
            right: 10px;
        }


